# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.spec.bak

# PyInstaller cache
*.toc
*.manifest

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Project-local large files / datasets
*.7z
velodyne_every15/
logs/
